

#header-adm {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #f9e445;
}

#header-adm #logo{
    display: flex;
    max-width: auto;
    height: 50%;
    margin-left:50px;
}

#header-adm h4 {
    font-size: 1rem;
    font-weight: 1000;
    color: #2f2f2f;
}

#header-adm #logo-pao-fraterno {
    width: 100px;
    border-radius: 50%;

}
.header-adm-ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    font-size: 24px;
    width: 100%;
}
.header-adm-li {
    font: 1.2em "palanquin", sans-serif;
    font-weight: 1000;
    padding:15px;
    margin-right: 50px;
    text-align: center;
    text-wrap: nowrap;
}

.selected-page{
    background-color: #F9C745;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#header-adm a{
    text-decoration: none;
    color: #2f2f2f;
    display:block
}