
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items : center;
    background-color: #f9e445;
}

header #logo {
    display: flex;
    width: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3em;
}

header #logo-pao-fraterno {
    width: 100px;
    border-radius: 50%;

}

.header-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-right: 1em;
}

.header-ul li {
    margin: 1em;
    font: 1em "palanquin", sans-serif;
    font-weight: 1000;
    text-wrap: nowrap;
}

.header-ul a{
    text-decoration: none;
    color: #2f2f2f;
    display:block
}

.show-xl{
    margin-right: 40px;
    display:none;
}

.menu-onclick{
    display:flex;
    height: auto;
    max-height: 0;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    transform:scaleY(0);
    transition: transform 0.3s ease-out, max-height 0.5s ease-out;
    transform-origin:top;
    background-color: #f9e445;
}


@media(max-width:1220px){
    header{
        justify-content: space-between;
    }

    .header-ul{
        border-style: solid;
        border-width: 3px 0px 3px 0px;
    }


    .header-ul li {
        width: auto;
        margin: 10px;
        font: 1em "palanquin", sans-serif ;
        font-weight: 800;
    }

    .collapse-xl{
        display:none;
    }
    .show-xl{
        display:block;
    }

    .menu-onclick.show{
        transform:scaleY(1);
    }
}