
/* container geral */
#centralize{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    
}
#conteinerNoticia{
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(3, 1fr); /* Divide em duas colunas de largura igual */
    row-gap: 6em;
    column-gap: 2em;
}

/*tamanho para telas medias*/
@media (max-width:1000px){
    #conteinerNoticia{grid-template-columns: repeat(2, 1fr);
                        font-size: 0.8em;}
}

/*tamanho para telas pequenas*/
@media (max-width:550px){
    #conteinerNoticia{
                        font-size: 0.6em;}
}
@media ((max-width:360px) and (pointer: coarse)) or 
        ((max-width:450px) and (pointer: fine)){
    #conteinerNoticia{grid-template-columns: repeat(1, 1fr);
}
}