#page-acoes .img-acoes {
    width: 500px;
    padding: 30px;
    border-radius: 80px;
    max-height: 550px;
}

#page-acoes .text-acoes p{
    font: 1em "palanquin", sans-serif ;
    font-weight: 600;
}

#page-acoes h1{
    margin-bottom: 30px;
}

#page-acoes #main-banner {
    padding: 10px;
    width: 800px;
    height: 630px;
    /* overflow: scroll; */
    background: #0693E3;
    display: inline-block;
    /* width: 50%; Cada item ocupa 50% da largura */
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho */
    text-align: center; /* Centraliza o conteúdo */
    margin-right: 200px;
    margin-bottom: 200px;
    margin-left: 20px;
    border-radius: 20px;  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
}

#page-acoes #main-banner-back {
    padding: 30px;
    width: 750px;
    height: 630px;
    /* overflow: scroll; */
    display: inline-block;
    /* width: 50%; Cada item ocupa 50% da largura */
    box-sizing: border-box; /* Garante que o padding não aumente o tamanho */
    text-align: center; /* Centraliza o conteúdo */
    margin-right: 200px;
    margin-bottom: 200px;
    margin-left: 20px;
    font: 1em "palanquin", sans-serif ;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.616);
    background-color: whitesmoke;
    
}