
/* geral */
#crud-conta{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

#big-box{
    display: flex;
    justify-content: center;
    width: 500px;
}

div, p, button{
    font: 16px "palanquin", sans-serif;
    font-weight: 600;
}



/* header */
#header{
    display: flex;
    justify-content: center;
}

#texto-logo
{
    margin-left: 20px;
    font-size: 16px;
}

#imagem-logo{
    max-width:100px;
    max-height:100px;
}




/* Titulo */

#titulo{
    width: 75%;
    font-size: 20px;
    margin: 50px 0px 2px -20px;
    color: #022859;
    display: flex;
    justify-content: left;
}



/* Caixa */

.caixa{
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px;
    border-style: solid;
    border-color: #393939;
    border-radius: 4px;
}

.text{
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 16px;
    color: #4c4c4c;
}

.input-box{
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: #b9b9b9;
    border-radius: 3px;
    background-color: #F8F8F8;
}

.confirm-button {
    width: 100px;
    margin-top: 20px;
    padding: 5px 0px;
    background-color: #A1AFCB;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}
.confirm-button:hover {
  background-color: #93a1bb;
  transition-duration: 0.1s;
}
.confirm-button:disabled {
  background-color: #A1AFCB;
  border-color: rgba(27, 31, 35, 0.15);
}
.confirm-button:active {
  background-color: #8a97b0;
}










