#carrosel {
    margin-top: 5vh;
    height: 20vh;
    border-style: solid;
}


h1 {
    margin-bottom: 2%;
    font-weight: 800;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto; /* Isso centraliza o elemento main na tela */
}

#questions {
    margin: 2%;
    width: 100%;
}

#questions h1 {
    margin-bottom: 10vh; /* Espaçamento abaixo do título "Perguntas Frequentes" */
}

#questions p {
    width: 100%; /* Ajusta a largura do parágrafo */
    max-width: 100%; /* Define a largura máxima */
}

#box-questions {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(2, 1fr); /* Divide em duas colunas de largura igual */
    gap: 40px; /* Espaçamento entre as perguntas */
    margin: auto;
}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.box-text h1 {
    color: #022859;
}

.box-text p {
    color: black;
    font-size: 30px;
    padding-bottom: 0px;
}