#carrosel {
    margin-top: 5vh;
    height: 20vh;
    border-style: solid;
}

h1 {
    margin-bottom: 2%;
}

#questions {
    margin: 1%;
}

#questions h1 {
    margin-bottom: 10vh; /* Espaçamento abaixo do título "Perguntas Frequentes" */
}

#box-questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide em duas colunas de largura igual */
    gap: 20px; /* Espaçamento entre as perguntas */
}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}