#info-page h1{
    margin-bottom:15px;
    color: #022859;
}

#info-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
}

#info-page div{
    min-width: 50vw;
    max-width: 50vw;
}

.image{
    align-self:center;
    height: 100%;
    width: 75%;
}



@media(max-width:1062px){
    #info-page div{
        min-width: 90vw;
        padding:5px;
    }
}   