
#voluntariado{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    padding-left: 10px;
    padding-right: 10px;
}

.infos-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos-contato p{
    font: 1em "palanquin", sans-serif ;
    font-weight: 700;
}

.infos-contato div{
    width: 400px;
}

#voluntariado input{
    height: 25px;
    padding:5px;
}

#voluntariado h1{
    margin-bottom: 30px;
    justify-self: center;
    font-size: 2.3em;
    font-weight: 500;
    overflow-wrap: break-word;
    color: #022859;
}

.info-nome{
    margin-bottom: 30px;
}

.text-nome{
    align-self: flex-start;
    margin-bottom: 5px;

}

.input-nome{
    width: 100%;
}


.info-email-telefone{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 70px;
}

.info-email{
    width: 65%;
}

.input-email{
    width: 100%;
}

.info-telefone{
    padding-left: 5%;
    width:35%;
}

.input-telefone{
    width: 100%;
}

.info-pessoal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-info-pessoal{
    margin-bottom: 20px;
}

.input-info-pessoal{
    resize: none;
    width: 100%;
    padding: 5px;
}

@media(max-width:453px){
    .infos-contato div{
        width: 350px;
    }

    .info-email-telefone{
        flex-direction: column;
    }

    .info-telefone{
        padding-top:20px;
        padding-left:0;
    }

    .info-email{
        width: 100%;
    }

    #voluntariado h1{
        font-size: 1.8em;
    }
}