/* Estilos gerais */
.doacao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto;
}

.doacao-container h1, .doacao-container p {
  margin-bottom: 1em;
  color: #022859;
}

.doacao-container p {
  color: black;
  font-size: 1.5em;
}

/* Contêiner da imagem */
.image-container {
  margin-top: 3em;
  position: relative;
  text-align: center;
}

.image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.text-under, .text-over {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #022859;
  font-size: 1.5em;
}

.text-over {
  top: 20px; /* ajuste conforme necessário */
}

.text-under {
  bottom: 20px; /* ajuste conforme necessário */
}

/* Container geral */
#conteinerMaster {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

/* Explicações de cadastro */
#cardMargin {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(2, 1fr); /* Divide em duas colunas de largura igual */
  row-gap: 2em;
  column-gap: 4em;
  transition-duration: 1s;
}

/* Contêiners */
#cinzaConteiner {
  background-color: #eaeaea4a;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7em;
  padding: 3em 0 6em 0;
}

#cadastroTextBox {
  width: 33em;
  font-size: 1.1em;
  background-color: #F9C745;
  margin-top: 2em;
  padding: 0 0 2em 0;
}

#cadastroTitleBox {
  width: 100%;
  font-size: 1.3em;
  background-color: #F9A645;
  padding: 0.5em;
  margin-bottom: 2em;
}

/* Inputs e textos */
#cadastroTextBox .TextoEInput {
  display: flex;
  flex-direction: row;
  margin: 1em 0 2em 3%;
}

.cadastroTexto {
  width: 18%;
}

.textoErroCadastroVol {
  margin: -2.5em 0 2em 3%;
}

.textoExplicacaoTipo {
  margin: -2em 3% 2em 3%;
  font-size: 0.8em;
}

#outrasInput {
  margin-top: -1em !important;
  width: 18em;
  height: 5em;
}

#buttonPlace {
  display: flex;
  justify-content: center;
}

/* Botão */
#cadastroButton {
  background-color: #F9DC45;
  font-size: 1.1em;
}

#cadastroButton:hover {
  background: #f3d643;
}

#cadastroButton:active {
  background-color: #e6ca3d;
}

#cadastroButton:disabled {
  background-color: #F9DC45;
}

/* Responsividade para telas menores */
@media (max-width: 41em) {
  /* Explicação de cadastro */
  #cardMargin {
    grid-template-columns: repeat(1, 1fr);
  }

  #cadastroTextBox {
    width: 90%;
  }

  #cadastroTextBox .TextoEInput {
    flex-direction: column;
    margin: 1em 1em 2em 1em;
  }

  .TextoEInput .smallSizeInput {
    margin-top: 0.5em;
    width: 12em;
  }

  #outrasInput {
    width: 12em;
  }
}

/* Tamanho para telas pequenas */
@media (max-width: 600px) {
  #cadastroTitleBox {
    font-size: 1.1em;
  }

  #cadastroButton {
    font-size: 0.9em;
  }
}

/* Estilos do botão */
.doacaoButton {
  font: 1.2em "palanquin", sans-serif;
  font-weight: 600;
  color: #392600;
  background-color: #F9C745;
  padding: 1.5em 1em;
  margin-bottom: 1.5em;
  border-radius: 10em;
  border: none;
  box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.25);
}

.doacaoButton:hover {
  background: rgb(241, 189, 56);
  transition-duration: 0.1s;
}

.doacaoButton:active {
  background-color: #d7a72e;
}

.doacaoButton:disabled {
  background-color: #F9C745;
}

/* Texto de doação */
.text-donate, .text-donate-above, .text-donate-bottom, .text-donate-bottom-images {
  font: "palanquin", sans-serif;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.text-donate {
  font-size: 2.2em;
  color: #392600;
  padding: 1.5em 0 0 1em;
}

.text-donate-above {
  font-size: 2.8em;
  color: #392600;
  padding: 1.5em 0 0 1em;
}

.text-donate-bottom, .text-donate-bottom-images {
  font-size: 1.6em;
  color: #DE9E3E;
  padding: 0 1.5em 3em 1.5em;
}

/* Container cinza para cobrir toda a largura */
#hist-cinza-cont {
  display: flex;
  justify-content: center;
  background-color: #eaeaea33;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 6em;
  margin-top: 9em;
  width: 100vw; /* Ajustado para cobrir toda a largura da janela */
  margin-left: calc(-50vw + 50%); /* Centra o contêiner para cobrir toda a área horizontal */
}

/* Container cinza para cobrir toda a largura */
#hist-cinza-cont {
  display: flex;
  justify-content: center;
  background-color: #eaeaea33;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 6em;
  margin-top: 9em;
  width: 100vw; /* Ajustado para cobrir toda a largura da janela */
  margin-left: calc(-50vw + 50%); /* Centra o contêiner para cobrir toda a área horizontal */
}

/* Contêiner interno para centralizar o conteúdo */
#hist-cont {
  max-width: 60em;
  padding: 0 1em; /* Adiciona espaço horizontal */
}

/* Adiciona espaçamento entre texto e imagem */
.text-donate-bottom-images img,
.montagem-meio img {
  margin-top: 1em; /* Espaço entre texto e imagem */
  margin-bottom: 1em;
  width: 100%;
  max-width: 500px; /* Ajuste conforme necessário */
}

/* Montagem de kit com cor de fundo */
.montagem-meio {
  display: flex;
  flex-direction: column; /* Para empilhar texto e imagem verticalmente */
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  margin-top: 9em;
  background-color: transparent; /* Cor de fundo transparente para igualar ao fundo da página */
}

.text-donate-bottom-images p {
  color: #DE9E3E;
  margin-bottom: 0.5em; /* Espaço entre parágrafos */
}