/* Container geral */
#conteinerMaster {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}  

/* Contêiner */
.cinza-conteiner {
  background-color: #eaeaea4a;
  width: 100%;
}


/* Produtos de doacao */
.prod-doacao-cont{
  display: flex;
  align-items: center;
  column-gap: 1em;
  width: 50em;
  background-color: #F1C144;
  border-radius: 0.6em;
  padding: 1.7em 1em 1.7em 2em;
  margin: 1em 0 1em 0;
}
.prod-doacao-subtitulo{
  font-size: 1.8em;
  color: #392600;
  width: 30%;
}
.prod-doacao-separador{
  position: relative;
  height: 5em;
  border: solid;
  border-width: 0.15em;
  border-color: #392600;
}
.prod-doacao-titulo{
  margin-top: 1em;
  margin-bottom: 1em;
}
.prod-doacao-texto{
  font-weight: 600;
  width: 100%;
}
.cor-recipiente{background-color: #F9B145;}
.cor-higiene{background-color: #f5c123;}
.cor-roupa{background-color: #E7B451;}
.cor-dinheiro{background-color: #F9D144;}



/* Formas de Doacao */
.forma-doacao-bigtitulo{
  margin-top: 3em;
}
#forma-doacao-pos{
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 4em;
  transition-duration: 1s;
}  
.forma-doacao-cont{
  background-color: #F9C745;
  width: 21em;
  border-radius: 0.3em;
  padding: 1.2em 1.5em 3em 1.5em;
  margin-bottom: 5em;
  margin: 2em 0em 0em 0em;
}  
.forma-doacao-titulo{
  color: #392600;
  font-size: 1.9em;
  
}  
.forma-doacao-subtitulo{
  font-size: 1.3em;
  margin-top: 1.5em;
}  
.center-texto{
  text-align: center;
}  
.forma-doacao-color2{
  background-color: #F9B145;
}  


/* Trabalho Fraterno */
.trab-frat-titulo-cont{
  margin: 7em 0 4em 0;
}  
.trab-frat-cont{
  display: flex;
  justify-content: center;
  column-gap: 7em;
  width: 100%;
  padding: 1.5em 0em 1.5em 0em;
}  
.trab-frat-img{
  width: 15em;
}  
.trab-frat-textcont{
  align-self: center;
}  
.trab-frat-subtitulo{
  text-align: left;
  font-size: 1.8em;

}  
.trab-frat-bordafina{
  font-weight: 600;
}  
.textoLink-doacao{
  margin: 2em;
  font-size: 1.2em;
}
.centralize-text{
  text-align: center;
}

/* Aceitar visita */
.aceitar-visita-cont{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
  padding-bottom: 6em;
  margin-top: 8em;
}
.aceitar-visita-titulo{
  margin: 1em 0 2em 0;
  font-size: 1.7em;
}



@media (max-width: 900px) {
  /* produto de doacao */
  .prod-doacao-cont{
    flex-direction: column;
    width: 80%;

    padding-top:0.8em;
  }
  .prod-doacao-subtitulo{width: 130%;}
  .prod-doacao-separador{
    width: 90%;
    height: 0em;
  }
  .prod-doacao-texto{margin-top: 1.5em; width: 90%;}

  /* Forma de doacao */
  #forma-doacao-pos{flex-direction: column;}  
}

@media (max-width: 700px) {
  /* Trabalho Fraterno */
  .trab-frat-cont{
    flex-direction: column;
    align-items: center;
  }  
  .trab-frat-img{
    order: 2;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .prod-doacao-cont{
    font-size: 0.9em;
  }  
  .prod-doacao-titulo{
    font-size: 1.8em;
  }
  .forma-doacao-cont{
    font-size: 0.9em;
    width: 70%;
  }
}