main h1 {
    font-weight: 800;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
}

.box-text {
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#F9C745;
    box-shadow: 0 .75rem 1rem rgba(0, 0, 0, 0.326);
    border-radius: 20px;
    padding: 2em 3% 2em 3%;
    margin-top: 7em;
}
        
.orange{
    background-color: #F9B145;
}
    
.box-text h1, .questions h1 {
    color: #392600 !important;
    margin-bottom: 1.5em;
    font-size: 2.2em;
    text-align: center;
}
    
.box-text p {
    color: white;
    font-size: 1.4em;
    font-weight: 700;
}
        
.home-img-box{
    display: flex;
    justify-content: center;
}

.home-img-box img {
    margin: 2em;
    width: 60%;
}


.home-saiba-mais-cont{
    display: flex;
    justify-content: end;
}
.home-saiba-mais{
    margin-top: 2em;
    font-size: 1.4em;
    color: white;
}


#questions {
    width: 50em;
}

#questions p {
    width: 100%; 
    max-width: 100%;
}

#box-questions {
    width: 90%;
    display: grid;
    text-wrap: wrap;
    grid-template-columns: repeat(1, 1fr); 
    margin: auto;
}

        
.eventos {
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14em;
}

.eventos h1 {
    color: #594614;
    margin-top: 1em;
    margin-bottom: 0.6em;
    font-size: 4em;
}

.eventos p {
    color: #DE9E3E;
    font-size: 50px;
    padding-bottom: 0px;
    font-size: 2em;
    margin-bottom: 2.5em;
}


.homePageButton2{
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 2em;
}

/*tamanho para telas mais pequenas*/
@media (max-width:1100px){
    main{font-size: 0.8em;}
    #eventos h1{font-size: 4em;}
    #eventos p{font-size: 2.4em;}
}
@media (max-width:750px){
    main img{width: 60%; }
    .box-text{width: 80%;}
    #questions{width: 80%;}
    .eventos{width: 80%;}
    #eventos h1{font-size: 3em;}
    #eventos p{font-size: 2em;}
}
