#info-page h1{
    margin-bottom:15px;
    color: #022859;
    padding-top: 3%;
    padding-left: 5%;
}
#info-page p{
    margin-bottom:15px;
    color: black;
    font-size: 26px;
    padding-left: 5%;
    padding-right: 5%;
}

#info-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    
}

@media(max-width:800px){
    .iden{
        width: 80px;
        border-radius: 20px;
        margin-left: 5%;
        margin-top: 2%;
    }

    .iden h1 {
        color: #594614;
        margin-bottom: 0em;
        font-size: 70px;
    }
    
    .iden p {
        color: #DE9E3E;
        font-size: 50px;
        padding-bottom: 0px;
    }
}

#info-page div{
    min-width: 60%;
    max-width: 60%;
}

.loc-image{
    align-self:center;
    height: 100%;
    width: 100%;
}


@media(max-width:1062px){
    #info-page div{
        min-width: 90vw;
        padding:5px;
    }

    .loc-image{
        width: 60%;
    }
}

@media(max-width:532px){
    #info-page div{
        min-width: 90vw;
        padding:5px;
    }

    .loc-image{
        width: 100%;
    }
}  

