#verificar-voluntarios-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#verificar-voluntarios-container #formulario{
    background-color: var(--main-bg-color);
    width: 750px;
    height: auto;
    border-radius: var(--border-r) ;
    margin-top: 100px;
}

#formulario h1{
    padding-left: 30px;
    font-family: "palanquin", Helvetica, sans-serif;
    font-weight: 800;
    font-size: 2em;
    height:50px;
    background-color: var(--contrast-bg-color) ;
    color: white;
    width: auto;
    border-top-left-radius: var(--border-r);
    border-top-right-radius: var(--border-r);
}

#formulario h2{
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 30px;
    margin-right: 0px;
    width: 200px;
}

#formulario div{
    display:flex;
    margin-top: 45px;
}

.container-opcoes-filtro{
    flex-wrap: wrap;
    margin-top: 0px !important;
}

#formulario button{
    background-color: var(--contrast-bg-color);
    margin-right: 40px;
    margin-bottom: 25px;
}

#formulario .btn-filtro{
    font-size: 1em;
}
#formulario button:hover {
    background: #f1a027;
    transition-duration: 0.1s;
}
#formulario button:active {
    background-color: #d7a72e;
}
#formulario button:disabled {
    background-color: #F9C745;
}
#popupCont{
    overflow-y: auto;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #7c7c7c65;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}
