:root {
    --border-r: 10px; 
}

.isTelaPequena{
    display: none !important;
}

#evento-container{
    width: 800px;
    margin: 15px;
}

.evento-titulo{
    display:flex;
    background-color: #F9B145;
    border-top-left-radius: var(--border-r);
    border-top-right-radius: var(--border-r);
    align-items:center;
    padding: 0.2em 0 0.2em 0;
}

.evento-titulo p{
    text-wrap:wrap;
    padding-left:30px;
    padding-right:30px;
    justify-content: left;
}

.evento-endereco{
    display:flex;
    background-color: #F9C745;
    border-bottom-left-radius: var(--border-r);
    border-bottom-right-radius: var(--border-r);
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
}

.btn-excluir-evento{
    border:none;
    border-radius: 100%;
    width:30px;
    height: 30px;
    background-color: rgb(202, 40, 40);
    margin-top: 1em;
    margin-bottom: 1em;
}

@media(max-width: 850px){
    .isTelaPequena{
        display: flex !important;
    }
    .isTelaGrande{
        display:none;
    }

    #evento-container{
        width: 70vw;
        margin: 15px;
    }
    .evento-titulo{
        padding: 0.5em 0 0.5em 0;
        flex-direction: column;
    }
    .evento-titulo p{
        text-wrap:wrap;
        display: flex;
        justify-content: center;
        width: 80%;
    }

    .evento-endereco{
        text-wrap:wrap;
        flex-direction: column;
    }
}